<div class="home">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid mb-5 ps-5 pe-5">
      <a class="navbar-brand w-25" href="#"
        ><img [src]="imgsrc" class="w-50" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active me-3" aria-current="page" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <div class="line nav-link my-2"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <div class="line nav-link my-2"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="#">Services</a>
          </li>
          <li class="nav-item">
            <div class="line nav-link my-2"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="#">Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" routerLink="register"
              >Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link login" aria-current="page" href="#" routerLink="login"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="content d-flex justify-content-center align-content-center row">
      <div class="rightinfo col-12 col-md-6">
        <p class="help">We are here to help</p>
        <p class="control">Always stay in Control of your card</p>
        <div class="handle">
          <p>You can handle your wallet easily with tab cash.</p>
          <p>For parents , you can manage your child's wallet easily.</p>
          <p>Feel free to explore our services</p>
        </div>
        <button class="btn rounded-5 download"> Download app</button>
      </div>
      <div class="wallete col-6 col-md-6">
        <img [src]="walletimg" class="ms-5 w-100 me-auto" alt="" />
      </div>
    </div>
  </div>
</div>
